/* Rectangle 215: */
background: #FFFFFF;
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
border-radius: 6px;


/* 12 откликов: */
font-family: OpenSans-Semibold;
font-size: 16px;
color: #08BFA6;
line-height: 22px;


/* Oval 76: */
background: #08BFA6;


/* ФУТБОЛ Copy: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0.35px;
line-height: 19px;


/* Артур Пирожков: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #4A4A4A;
line-height: 28px;
/* Oval 75: */
/* Sketch doesnt export pattern fills at this point */


/* Артур Пирожков: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #4A4A4A;
line-height: 28px;
/* Oval 75: */
/* Sketch doesnt export pattern fills at this point */


/* Пригласить на игру: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #31897D;
letter-spacing: 0.35px;
line-height: 19px;
/* Line: */
border: 1px solid #979797;


/* Спортивный клуб «Дер: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #4A4A4A;
line-height: 19px;


/* 18:30 — 20:30	9 октя: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #4A4A4A;
line-height: 19px;


/* Время: */
font-family: OpenSans-Italic;
font-size: 14px;
color: #4A4A4A;
line-height: 19px;


/* Место: */
font-family: OpenSans-Italic;
font-size: 14px;
color: #4A4A4A;
line-height: 19px;


/* 6 игроков: */
font-family: OpenSans-Bold;
font-size: 18px;
color: #4A4A4A;
line-height: 24px;


/* нужно: */
font-family: OpenSans-Italic;
font-size: 14px;
color: #797979;
line-height: 19px;


/* Line: */
border: 1px solid #D0D0D0;


/* Rectangle 112 Copy 4: */
border: 1px solid #08BFA6;
border-radius: 3px;


/* Rectangle 112 Copy 5: */
border: 1px solid #08BFA6;
border-radius: 3px;


/* Rectangle 112 Copy 10: */
border: 1px solid #08BFA6;
border-radius: 3px;


/* Rectangle 112 Copy 11: */
border: 1px solid #08BFA6;
border-radius: 3px;


/* Rectangle 112 Copy 12: */
border: 1px solid #08BFA6;
border-radius: 3px;


/* Rectangle 112 Copy 8: */
border: 1px solid #08BFA6;
border-radius: 18px;


/* Rectangle 112 Copy 9: */
background: #08BFA6;
border-radius: 18px;


/* Rectangle 112 Copy 6: */
border: 1px solid #08BFA6;
border-radius: 3px;


/* Rectangle 112 Copy 7: */
border: 1px solid #08BFA6;
border-radius: 3px;


/* Игру: */
font-family: OpenSans-Light;
font-size: 24px;
color: #31897D;
line-height: 33px;


/* Тренеровку: */
font-family: OpenSans-Light;
font-size: 24px;
color: #31897D;
line-height: 33px;


/* Место: */
font-family: OpenSans-Light;
font-size: 24px;
color: #31897D;
line-height: 33px;


/* Лигу: */
font-family: OpenSans-Light;
font-size: 24px;
color: #31897D;
line-height: 33px;


/* Команду: */
font-family: OpenSans-Light;
font-size: 24px;
color: #31897D;
line-height: 33px;


/* Турнир: */
font-family: OpenSans-Light;
font-size: 24px;
color: #31897D;
line-height: 33px;


/* Type something: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #FFFFFF;
line-height: 19px;


/* Найти : */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #08BFA6;
line-height: 19px;


/* Rectangle 226: */
background: #FFFFFF;
/* ПЛЯЖНЫЙ ВОЛЕЙБОЛ: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #08BFA6;
letter-spacing: 0.35px;
line-height: 19px;
/* Sporting: */
background: #72ECDB;
/* Rectangle 112: */
border: 1px solid #4A4A4A;
border-radius: 3px;
/* ФУТБОЛ: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0.35px;
line-height: 19px;
/* БАСКЕТБОЛ: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #08BFA6;
letter-spacing: 0.35px;
line-height: 19px;
/* БОЛЬШОЙ ТЕННИС: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #08BFA6;
letter-spacing: 0.35px;
line-height: 19px;
/* НАСТОЛЬНЫЙ ТЕННИС: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #08BFA6;
letter-spacing: 0.35px;
line-height: 19px;
/* БЕГ: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #08BFA6;
letter-spacing: 0.35px;
line-height: 19px;
/* ФИТНЕСС: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #08BFA6;
letter-spacing: 0.35px;
line-height: 19px;
/* ЙОГА: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #08BFA6;
letter-spacing: 0.35px;
line-height: 19px;
/* ВОЛЕЙБОЛ: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #08BFA6;
letter-spacing: 0.35px;
line-height: 19px;
/* Добавить свой: */
font-family: OpenSans-Semibold;
font-size: 14px;
color: #31897D;
letter-spacing: 0.35px;
line-height: 19px;
/* Line: */
border: 1px solid #979797;